.sidebar-logo img{
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 41px;
}
.masthead-title a {
  font-size: 1.5em;
  text-decoration: none;
  padding-right: 10px;
}
.footer{
  border-top: 1px solid #eee;
  font-size: 0.8rem;
  padding: 12px 0 12px 0;
  color: #777;
  text-align: center;
}
.footer ul{
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}
.footer ul li{
  display: inline;
  padding-right: 5px;
}
.footer ul li a{
  color:#999999;
}
.footer ul li a:hover{
  color:#268bd2;
}
.pageSlogan{
  font-size: .8rem;
  margin-top: -10px;
  margin-bottom: 20px;
  color: #52D0E7;
}