<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" >

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="sidebar-logo">
      <a href="/"><img src="/public/img/weijing.jpg"></a>
    </div>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/"><i class="fa fa-home fa-fw"></i> Home</a>
	<!-- <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/blog"><i class="fa fa-book fa-fw"></i> Blog</a>
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/fun"><i class="fa fa-beer fa-fw"></i> Fun</a> -->
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/about"><i class="fa fa-user-plus fa-fw"></i> About</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; Wei Jing 2015. All rights reserved.
    </p>
  </div>
</div>
